<?xml version="1.0" encoding="utf-8" ?>
<behaviors>
	<serviceBehaviors>
		<behavior name="PostBehavior">
			<serviceMetadata httpGetEnabled="false" />
			<serviceDebug includeExceptionDetailInFaults="true" />
			<serviceCredentials>
				<serviceCertificate findValue="ERPStoreServerCert" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My" />
				<userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="ERPStore.Services.UserNameValidator, ERPStore.Core" />
			</serviceCredentials>
		</behavior>
		<behavior name="serviceBehavior">
			<serviceMetadata httpGetEnabled="false" />
			<serviceDebug includeExceptionDetailInFaults="true" />
		</behavior>
	</serviceBehaviors>
</behaviors>

