<?xml version="1.0" encoding="utf-8" ?>
<bindings>
	<wsHttpBinding>
		<binding name="wsHttpSecureAndReliable" maxReceivedMessageSize="1000000" transactionFlow="true">
			<readerQuotas maxArrayLength="10000000" maxStringContentLength="100000"/>
			<security mode="None"/>
		</binding>
		<binding name="wsHttpMessageProtected" transactionFlow="true">
			<security mode="None"/>
		</binding>
	</wsHttpBinding>
</bindings>


