<?xml version="1.0" encoding="utf-8" ?>
<!-- Attention il y a un ordre de chargement des plugins -->
<plugins>
	<pluginInfo assemblyFile="Serialcoder.Erp.Web.ERP360Connector.dll" updateLocation="" />
	<!--<pluginInfo assemblyFile="ERPStore.FullTextCatalog.dll"  updateLocation="" />-->
	<pluginInfo assemblyFile="ERPStore.Payment.Sogenactif.dll" updateLocation="" />
	<pluginInfo assemblyFile="ERPStore.Payment.Ogone.dll" updateLocation="" />
	<!--<pluginInfo assemblyFile="ERPStore.Payment.Paypal.dll" updateLocation="" />-->
	<!--<pluginInfo assemblyFile="ERPStore.Tracking.dll" updateLocation="" />-->
	<!--<pluginInfo assemblyFile="ERPStore.Exporter.Sitemap.dll" updateLocation="" />
	<pluginInfo assemblyFile="ERPStore.Exporter.LeGuide.dll" updateLocation="" />-->
</plugins>