<?xml version="1.0" encoding="utf-8" ?>
<services>
 <service behaviorConfiguration="serviceBehavior" 
					name="ERPStore.Services.AdminService">
  <endpoint address="" 
						binding="wsHttpBinding" 
						bindingConfiguration="wsHttpSecureAndReliable"
						contract="ERPStore.Services.IAdminService">
   <identity>
    <dns value="localhost" />
   </identity>
  </endpoint>
  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
 </service>
</services>

