<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>
	<unity>
		<typeAliases>
			<typeAlias alias="singleton"
         type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, 
               Microsoft.Practices.Unity" />
		</typeAliases>
		<containers>
			<container>
				<types>
					<type type="Serialcoder.Erp.Logging.ILogger, Serialcoder.ERP.Services"
							mapTo="Serialcoder.Erp.Web.ERP360Connector.ERPStoreLogger, Serialcoder.Erp.Web.ERP360Connector">
						<lifetime type="singleton" />
					</type>
					<!-- Repositories -->
					<type type="Serialcoder.Erp.Services.Sales.Repositories.IDeliveryRepository, Serialcoder.Erp.Services"
								mapTo="Serialcoder.Erp.Services.Sales.Repositories.NetTiers.DeliveryRepository, Serialcoder.Erp.Services">
						<lifetime type="singleton" />
					</type>
					<type type="Serialcoder.Erp.Services.Sales.Repositories.IOrderRepository, Serialcoder.Erp.Services"
								mapTo="Serialcoder.Erp.Services.Sales.Repositories.NetTiers.OrderRepository, Serialcoder.Erp.Services">
						<lifetime type="singleton" />
					</type>
					<type type="Serialcoder.Erp.Services.Sales.Repositories.ICustomerRepository, Serialcoder.Erp.Services"
								mapTo="Serialcoder.Erp.Services.Sales.Repositories.NetTiers.CustomerRepository, Serialcoder.Erp.Services">
						<lifetime type="singleton" />
					</type>
					<type type="Serialcoder.Erp.Services.Core.Repositories.IAddressRepository, Serialcoder.Erp.Services"
								mapTo="Serialcoder.Erp.Services.Core.Repositories.Nettiers.AddressRepository, Serialcoder.Erp.Services">
						<lifetime type="singleton" />
					</type>
					<!-- Services -->
					<type type="ERPStore.Services.ISettingsService, ERPStore.Core"
								mapTo="Serialcoder.Erp.Web.ERP360Connector.SettingsService, Serialcoder.Erp.Web.ERP360Connector">
						<lifetime type="singleton" />
					</type>
					<type type="ERPStore.Services.ICatalogService, ERPStore.Core"
								mapTo="Serialcoder.Erp.Web.ERP360Connector.CatalogService, Serialcoder.Erp.Web.ERP360Connector">
						<lifetime type="singleton" />
					</type>
					<type type="ERPStore.Services.ISalesService, ERPStore.Core"
								mapTo="Serialcoder.Erp.Web.ERP360Connector.SalesService, Serialcoder.Erp.Web.ERP360Connector">
						<lifetime type="singleton" />
					</type>
					<type type="ERPStore.Services.IAccountService, ERPStore.Core"
								mapTo="Serialcoder.Erp.Web.ERP360Connector.AccountService, Serialcoder.Erp.Web.ERP360Connector">
						<lifetime type="singleton" />
					</type>
					<type type="ERPStore.Services.IConnectorService, ERPStore.Core"
								mapTo="Serialcoder.Erp.Web.ERP360Connector.ConnectorService, Serialcoder.Erp.Web.ERP360Connector">
						<lifetime type="singleton" />
					</type>
					<type type="ERPStore.Services.IDocumentService, ERPStore.Core"
								mapTo="Serialcoder.Erp.Web.ERP360Connector.DocumentService, Serialcoder.Erp.Web.ERP360Connector">
						<lifetime type="singleton" />
					</type>
					<type type="ERPStore.Services.IAddressService, ERPStore.Core"
								mapTo="Serialcoder.Erp.Web.ERP360Connector.AddressService, Serialcoder.Erp.Web.ERP360Connector">
						<lifetime type="singleton" />
					</type>
					<type type="ERPStore.Repositories.ICartRepository, ERPStore.Core"
								mapTo="Serialcoder.Erp.Web.ERP360Connector.Repositories.CartRepository, Serialcoder.Erp.Web.ERP360Connector">
						<lifetime type="singleton" />
					</type>
				</types>
			</container>
		</containers>
	</unity>
</configuration>