<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="paypalSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="sogenactifSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="ogoneSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="erpStorePayments" type="ERPStore.Configuration.PaymentConfigurationSection, ERPStore.Core"/>
    <section name="erpStoreSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false"/>
    <section name="netTiersService" type="Serialcoder.Erp.Data.Bases.NetTiersServiceSection, Serialcoder.Erp.Data" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <connectionStrings configSource="localconfig\connectionstrings.config"/>
  <erpStoreSettings configSource="localconfig\appsettings.config"/>
  <sogenactifSettings configSource="localconfig\sogenactifsettings.config"/>
  <ogoneSettings configSource="localconfig\ogonesettings.config"/>
  <paypalSettings configSource="localconfig\paypalsettings.config"/>
  <erpStorePayments>
    <payments>
      <add name="Paypal"/>
      <add name="Sogenactif"/>
      <add name="WireTransfer"/>
      <add name="Check"/>
    </payments>
  </erpStorePayments>
  <system.net>
    <mailSettings>
      <smtp configSource="localconfig\smtp.config"/>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/compte/connexion" name=".Auth" protection="Encryption" timeout="60"/>
    </authentication>
    <customErrors configSource="localconfig\customErrors.config"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Collections.Generic"/>
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.mvc" validate="false" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
    </httpHandlers>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="DefaultClient" duration="3600" enabled="false" location="Client" noStore="true"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <sessionState mode="InProc"/>
  </system.web>
  <system.web.extensions/>
  <system.serviceModel>
    <services configSource="services.config"/>
    <behaviors configSource="behaviors.config"/>
    <bindings configSource="bindings.config"/>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="MvcHttpHandler"/>
      <remove name="UrlRoutingHandler"/>
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
    </handlers>
    <caching enabled="false"/>
    <staticContent>
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
  </system.webServer>
  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <add name="SqlNetTiersProvider" type="Serialcoder.Erp.Data.SqlClient.SqlNetTiersProvider, Serialcoder.Erp.Data.SqlClient" connectionStringName="ERPStoreConnectionString" providerInvariantName="System.Data.SqlClient" entityFactoryType="Serialcoder.Erp.Entities.EntityFactory" useEntityFactory="false" enableEntityTracking="false" enableMethodAuthorization="false" useStoredProcedure="false"/>
    </providers>
  </netTiersService>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>