<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="erpStorePayments" type="ERPStore.Configuration.PaymentConfigurationSection, ERPStore.Core"/>
	</configSections>
	<erpStorePayments>
		<payments>
			<add name="Check"  />
			<add name="WireTransfer" />
		</payments>
	</erpStorePayments>
</configuration>
